.sales-container {
  padding: 20px;
  margin-top: 10px;
}

.grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  gap: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 15px;
  cursor: pointer;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}